@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";
@import "css/_skin-vars.scss";


.sc_testimonials_modern .sc_testimonials_item .sc_testimonials_item_content h6 {
	font-size: 20px;
	margin-top: 0;
}

.search-no-results .page_content_wrap,
.error404 .page_content_wrap {
	background-color: inherit;
}

.sc_testimonials_chit {	
	.slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
	.slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
	.slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets .swiper-pagination-bullet {
		background-color: var(--theme-color-bd_color);
		border-color: var(--theme-color-bd_color);
	}
	.swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
	.sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
	.sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
	.slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
	.slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
	.slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
	.slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
		background-color: var(--theme-color-text_link);
		border-color: var(--theme-color-text_link);
	}
}

.footer_wrap .sc_layouts_row_type_narrow .sc_layouts_menu > ul > li {
	font-size: 17px;
}

.sc_socials.sc_socials_icons_names.extra .socials_wrap .social_item {
	margin-right: 2em;
}

div.wpcf7 .form-style-7 {
	.wpcf7-submit-style {
		.submit-style-in {
			background-color: var(--theme-color-text_link);			
			&:before {
				display: inline-block;
			}		
		}
		.wpcf7-submit {
			padding: 18px 39px 18px 63px !important;
		}
	}
	.wpcf7-submit-style:active .wpcf7-submit + .submit-style-in,
	.wpcf7-submit-style:focus .wpcf7-submit + .submit-style-in,
	.wpcf7-submit-style:hover .wpcf7-submit + .submit-style-in {
		background-color: var(--theme-color-text_hover);
	}
}

.sc_socials.sc_socials_icons_names.extra .socials_wrap .social_item .social_icon + .social_name {
	font-size: 16px;
	line-height: 17px;
	font-weight: 400;
	letter-spacing: 0.2px;
}

.hover_arrow_anim {
	a:not([href*="mailto"]) {
		position: relative;
		padding-right: 1.8em;
	}
	a:not([href*="mailto"]):after {
		font-family: $theme_icons;
		content: '\E9A4';
		@include font(14px, '', 400);
		position: absolute;
		top: calc(50% + 4px);
		right: 8px;
		color: var(--theme-color-text_dark);
		@include transform(translateY(-50%));
		@include transition(right .3s ease-out, color .3s ease, opacity .3s ease );
	}
	a:not([href*="mailto"]):hover:after {
		right: 0;
	}
}

.up-anim {
	transform: translateY(0);
	animation: move 1.1s infinite ease-in-out;
}
@keyframes move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.button_bg_icon_color.color_style_dark .sc_button_icon {
	background-color: var(--theme-color-text_dark);
	color: var(--theme-color-bg_color);
}

table.booked-calendar thead tr {
	background-color: var(--theme-color-text_link) !important;
}
table.booked-calendar thead tr th:first-child {
	border: 1px solid var(--theme-color-text_link) !important;
}

.slide-title-left {
	white-space: nowrap;
	left: -90vw;
	position: relative;
}
.slide-title-right {
	white-space: nowrap;
	right: -90vw;
	position: relative;
}
.extra-backlight {
	.elementor-heading-title {
		@include transition-all(0.4s);
	}
	&.backlight-on .elementor-heading-title {
		color: var(--theme-color-text_link) !important;
	}
}
.scheme_dark .extra-backlight.backlight-on .elementor-heading-title {
	color: var(--theme-color-text_dark) !important;
}

.slider_width_auto .sc_portfolio.sc_portfolio_default .sc_portfolio_slider .slider_container .slider-wrapper.sc_item_columns_3 .swiper-slide .post_featured_bg:before {
	padding-top: 26rem;
}

.sc_testimonials_accent2 .sc_testimonials_item:before {
	color: var(--theme-color-text_link);
	content: '\e9ca';
}

.sc_price_metro .sc_price_item.sc_price_active,
.sc_price_metro .sc_price_item {
	@include box-shadow(none);
}

.sc_blogger_lay_portfolio.sc_blogger_lay_portfolio_style_14 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bc:before {
	background-color: #0C0C0C;
}

.sc_icons_number .sc_icons_item_number {
	top: -0.19em;
	opacity: .05;
	left: -8px;
}

.elementor-toggle {
	.elementor-tab-title .elementor-toggle-title {
		font-size: 19px;
	}
	.elementor-toggle-item:last-child {
		.elementor-tab-content,
		.elementor-tab-title {
			border-bottom: none !important;
		}
	}
	.elementor-toggle-icon-closed i.fa-plus:before {
		top: 3px;
	}
	.elementor-toggle-icon-opened i.fa-minus:before {
		top: 6px;
	}
	.elementor-toggle-icon {
		font-size: 15px;
	}
}

.elementor-accordion {
	.elementor-tab-title .elementor-accordion-title {
		font-size: 28px;
		line-height: 1.2em;
	}
	.elementor-accordion-icon {
		@include font(22px, 1.6em);
		&.elementor-accordion-icon-left {
			margin-right: 20px;
		}
		&.elementor-accordion-icon-right {
			margin-left: 20px;
		}
		&-opened {
			i.fa-minus {
				&:before {
					position: relative;
					top: 0;
					content: '\E9D4';
					font-family: $theme_icons;
					font-weight: 400;
					font-size: inherit;
				}
			}
		}
		&-closed {
			i.fa-plus {
				&:before {
					position: relative;
					top: 0;
					content: '\E9EA';
					font-family: $theme_icons;
					font-weight: 400;
					font-size: inherit;
				}
			}
		}
	}
}

#style-3.mc4wp-form .mc4wp-form-fields button,
#style-3.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	text-transform: none;
	letter-spacing: 0;
	font-size: 18px;
}

.top_panel .sc_button.sc_button_size_large {
	padding: 3.5em 4.5em;
	font-size: 14px;
}

.search_modern > .search_submit:before {
	font-size: 23px !important;
}

.sc_icons.sc_icons_divider .sc_icons_item .sc_icons_item_more_link {
	display: inline-block;
	margin-bottom: -5px;
}

.sc_button {
	margin-right: 0.8em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: var(--theme-color-text_link);
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: var(--theme-color-alter_bd_hover);
}

@media #{$media_xxl} {
	.size-big .elementor-heading-title {
		font-size: 180px !important;
	}
	.size-large-2 .elementor-heading-title {
		font-size: 270px !important;
	}	
}

@media #{$media_xl} {
	.top_panel .sc_button.sc_button_size_large {
		padding: 2.8em 4em;
	}
	.size-large-2 .elementor-heading-title,
	.size-large .elementor-heading-title {
		font-size: 200px !important;
	}
	.size-huge .elementor-heading-title {
		font-size: 270px !important;
	}
	.size-big .elementor-heading-title {
		font-size: 160px !important;
	}
}

@media #{$media_lg} {
	.top_panel .sc_button.sc_button_size_large {
		padding: 2.5em 3em;
	}
	.size-large-2 .elementor-heading-title,
	.size-large .elementor-heading-title {
		font-size: 170px !important;
	}
	.size-huge .elementor-heading-title {
		font-size: 220px !important;
	}	
	.size-big .elementor-heading-title {
		font-size: 100px !important;
	}

	div.wpcf7 .form-style-7 .wpcf7-submit-style .wpcf7-submit {
		padding: 15px 37px 15px 60px !important;
	}
	#style-3.mc4wp-form {
		.mc4wp-form-fields input[type="email"] {
			width: calc(100% - 155px);
		}
		.mc4wp-form-fields button,
		.mc4wp-form-fields input[type="submit"] {
			max-width: 155px;
		}
	}
}

@media #{$media_md} {
	.top_panel .sc_button.sc_button_size_large {
		padding: 2.1em 2.5em;
	}
	.size-large-2 .elementor-heading-title,
	.size-large .elementor-heading-title {
		font-size: 140px !important;
	}
	.size-huge .elementor-heading-title {
		font-size: 160px !important;
	}
	.size-big .elementor-heading-title {
		font-size: 75px !important;
	}
	.sc_services_cool {
		.sc_services_item_content_inner {
			padding: 20px;
		}
		.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
			padding-right: 0;
		}
		.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"][class*="-tablet"] {
			padding-bottom: 0;
		}
	}

	.footer_wrap .sc_layouts_row_type_narrow,
	.footer_wrap .sc_layouts_row_type_compact {
		font-size: 16px;
	}
	.footer_wrap .sc_layouts_row_type_narrow .sc_layouts_menu > ul > li {
		font-size: 16px;
	}

	.sc_socials.sc_socials_icons_names.extra .socials_wrap .social_item {
		margin-right: 0.7em;
	}

	div.wpcf7 .form-style-7 {
		.wpcf7-submit-style .wpcf7-submit {
			padding: 13px 35px 13px 58px !important;
		}
		.wpcf7-spinner + .acceptance,
		.ajax-loader + .acceptance,
		.wpcf7-spinner,
		.ajax-loader {
			margin: 0 0 0 10px;
		}
	}

	.elementor-accordion .elementor-tab-title .elementor-accordion-title {
		font-size: 22px;
	}
	.elementor-accordion .elementor-accordion-icon {
		font-size: 20px;
		line-height: 1.5em;
	}
}

@media #{$media_sm} {
	.sc_icons_divider .sc_icons_columns_wrap [class*="trx_addons_column-"]:not([class*="-mobile"]) .sc_icons_item:after {
		display: none;
	}

	.size-large-2 .elementor-heading-title,
	.size-large .elementor-heading-title {
		font-size: 85px !important;
	}
	.size-huge .elementor-heading-title {
		font-size: 100px !important;
	}
	.size-big .elementor-heading-title {
		font-size: 60px !important;
	}

	.sc_socials.sc_socials_icons_names.extra .socials_wrap .social_item {
		margin-right: 1.2em;
	}

	.slider_width_auto .sc_portfolio.sc_portfolio_default .sc_portfolio_slider .slider_container .slider-wrapper.sc_item_columns_2 .swiper-slide .post_featured_bg::before {
		padding-top: 20rem;
	}

	.round-square-2 .elementor-button {
		width: 163px;
		height: 163px;
		line-height: 156px !important;
	}

	#style-3.mc4wp-form {
		.mc4wp-form-fields button,
		.mc4wp-form-fields input[type="submit"] {
			max-width: 130px;
			font-size: 16px;
		}
		.mc4wp-form-fields input[type="email"] {
			width: calc(100% - 130px);
		}
	}

	.sc_testimonials_modern .sc_testimonials_item .sc_testimonials_item_content {
		font-size: 16px;
		line-height: 24px;
		h6 {
			font-size: 18px;
			line-height: 1.25em;
		}
	}
}

@media #{$media_xs} {
	.size-large-2 .elementor-heading-title,
	.size-large .elementor-heading-title {
		font-size: 50px !important;
	}
	.size-huge .elementor-heading-title {
		font-size: 60px !important;
	}

	.footer_wrap .sc_layouts_row_type_narrow .sc_layouts_menu > ul > li {
		font-size: 15px;
	}
	.footer_wrap .sc_layouts_row_type_narrow,
	.footer_wrap .sc_layouts_row_type_compact {
		font-size: 15px;
	}

	.slider_width_auto .sc_portfolio.sc_portfolio_default .sc_portfolio_slider .slider_container .slider-wrapper.sc_item_columns_2 .swiper-slide .post_featured_bg::before {
		padding-top: 16rem;
	}

	.elementor-accordion .elementor-tab-title .elementor-accordion-title {
		font-size: 19px;
	}
	.elementor-accordion .elementor-accordion-icon {
		font-size: 20px;
		line-height: 1.1em;
	}
}